<!-- 
<h1>benson nyaga<h1>

Alex Ogola
 -->
 <!DOCTYPE html>
 <html>
 
 <head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
 <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
 <title>Music Lyrics</title>
 
 </head>
 
 <body id="top" background="{{ url_for('static', filename='photos/Water.jpg') }}" style="background-repeat: no-repeat; background-size: 100%">
      <div class="w3-top">
          <div class="w3-bar w3-theme-d2 w3-left-align">
           <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
           <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
           {% if current_user.is_authenticated %}
           <a href= "{{url_for('auth.logout')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">SIGN OUT</a>
           {%else%}
           <a href= "{{url_for('auth.login')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">SIGN IN</a>
           {%endif%}
           <a href="{{url_for('main.new_post',uname = current_user.username)}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">CREATE BLOG</a>
           <a href="{{url_for('main.subscribe')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> SUBSCRIBE </a>
           {% if current_user.is_authenticated %}
           <a href="{{url_for('main.account',uname=current_user.username)}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">PROFILE</a>
           {%endif%}
             <div class="w3-dropdown-hover w3-hide-small">
             <button class="w3-button" title="Notifications">POSTS <i class="fa fa-caret-down"></i></button>     
             <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                
  
             </div>
           </div>
           <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
          </div>
        
 
 
 
 
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                 crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                 crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                 crossorigin="anonymous"></script>
        
 </body>
 
 </html>